.checkoutProduct {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}

.checkoutProduct-info {
  padding-left: 20px;
}

.checkoutProduct-info > button {
  background: #8768bf;
  border: 1px solid;
  margin-top: 10px;
  border-color: #61dafb #8768bf #a5a5f3;
}

.checkoutProduct-img {
  object-fit: contain;
  width: 180px;
  height: 180px;
}

.checkoutProduct-title {
  font-size: 17px;
  font-weight: 800;
}
